[Unit]
Description=This.Computer Pong Server

[Service]
WorkingDirectory=BASE_DIR
Environment="WS_PORT=PONG_PORT"
ExecStart=/usr/bin/node pong/server.js
Restart=on-failure
User=nobody
Group=nogroup

[Install]
WantedBy=default.target

