[Unit]
Description=This.Computer Pong Server

[Service]
WorkingDirectory=DIST_DIR
Environment="WS_PORT=PONG_PORT"
ExecStart=/usr/bin/node pong/server.js
Restart=on-failure

[Install]
WantedBy=default.target

